@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <h1 class="page-header">My Blog</h1>

    <p>This MVC-based application demonstrates a number of design patterns and advanced web development techniques using popular .NET and open source tools and frameworks.  All content is for illustrative purposes only.</p>
    <p>The app presents screens to manage a group of authors posting and commenting on a set of blogs.  Models are contrived and very basic - the intent is just to demonstrate various patterns and concepts.</p>
    <p>Several views demonstrating some of Bootstrap's capabilities are also presented.  These examples contain static markup and are included as examples only.</p>
    <p>Some of the design patterns and technologies used include:</p>

    <ul>
        <li>Modern web development using Bootstrap and the MVC 5 framework</li>
        <li>Dependency injection via Autofac</li>
        <li>Object-relational mapping (ORM) using Entity Framework</li>
        <li>Repository data access pattern</li>
        <li>SOAP web services using WCF</li>
        <li>RESTful services using Web API</li>
        <li>OData services using Web API</li>
        <li>Object mapping using AutoMapper</li>
        <li>Asyncronous server and client operations</li>
    </ul>
</div>
