@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <h1 class="page-header">My Blog</h1>

    <p class="lead">This app demonstrates a number of advanced web development practices using a variety of popular tools and frameworks.  All content is for illustrative purposes only.</p>
    <p class="lead">
        <a href="https://github.com/jdwittenauer/myblog" class="btn btn-lg btn-default">Learn more</a>
    </p>
</div>
