@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <h1 class="page-header">My Blog</h1>

    <p class="lead">This app demonstrates a number of advanced web development practices using a variety of popular tools and frameworks.  All content is for illustrative purposes only.</p>
    <p class="lead">The app presents screens to manage a group of authors posting and commenting on a set of blogs.  Models are contrived and very basic - the intent is just to demonstrate various patterns and concepts.</p>
    <p class="lead">Several views demonstrating some of Bootstrap's capabilities are also presented.  These examples contain static markup only and are included as examples only.</p>
</div>
