@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div class="row">
    <div class="panel panel-inverse-no-border panel-no-margin">
        <div class="panel-heading">
            <h3 class="panel-title">Title</h3>
        </div>
        <div class="panel-body panel-body-no-padding panel-body-shaded">
            <p>Test content here.</p>
        </div>
    </div>
</div>

