html, body {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding-top: 25px;
}

.text-light {
	color: #fff;
}

.text-muted {
    color: #eee
}

.text-medium {
	color: #333;
}

.text-dark {
	color: #000;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.display-none {
    display: none;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.margin-1 {
    margin: 1px;
}

.margin-2 {
    margin: 2px;
}

.margin-4 {
    margin: 4px;
}

.margin-8 {
    margin: 8px;
}

.no-padding {
    padding: 0;
}

.padding-1 {
    padding: 1px;
}

.padding-2 {
    padding: 2px;
}

.padding-4 {
    padding: 4px;
}

.padding-8 {
    padding: 8px;
}

.bg-very-light {
    background-color: #f5f5f5;
}

.bg-lighter {
    background-color: #f0f0f0;
}

.bg-light {
    background-color: #eee;
}

.bg-medium {
    background-color: #bfbfbf;
}

.bg-gray {
    background-color: #999;
}

.bg-dark {
    background-color: #555;
}

.bg-darker {
    background-color: #333;
}

.bg-very-dark {
    background-color: #222;
}

.bg-very-light-gradient {
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(top, #f5f5f5 0, #f0f0f0 100%);
    background: linear-gradient(to bottom, #f5f5f5 0, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff0f0f0', GradientType=0);
}

.bg-lighter-gradient {
    background-color: #f0f0f0;
    background: -webkit-linear-gradient(top, #f0f0f0 0, #d4d4d4 100%);
    background: linear-gradient(to bottom, #f0f0f0 0, #d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffd4d4d4', GradientType=0);
}

.bg-light-gradient {
    background-color: #eee;
    background: -webkit-linear-gradient(top, #eee 0, #cacaca 100%);
    background: linear-gradient(to bottom, #eee 0, #cacaca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffcacaca', GradientType=0);
}

.bg-medium-gradient {
    background-color: #bfbfbf;
    background: -webkit-linear-gradient(top, #bfbfbf 0, #a8a8a8 100%);
    background: linear-gradient(to bottom, #bfbfbf 0, #a8a8a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbfbfbf', endColorstr='#ffa8a8a8', GradientType=0);
}

.bg-gray-gradient {
    background-color: #999;
    background: -webkit-linear-gradient(top, #999 0, #7a7a7a 100%);
    background: linear-gradient(to bottom, #999 0, #7a7a7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff7a7a7a', GradientType=0);
}

.bg-dark-gradient {
    background-color: #555;
    background: -webkit-linear-gradient(top, #555 0, #3a3a3a 100%);
    background: linear-gradient(to bottom, #555 0, #3a3a3a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff3a3a3a', GradientType=0);
}

.bg-darker-gradient {
    background-color: #333;
    background: -webkit-linear-gradient(top, #333 0, #1a1a1a 100%);
    background: linear-gradient(to bottom, #333 0, #1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff1a1a1a', GradientType=0);
}

.bg-very-dark-gradient {
    background-color: #222;
    background: -webkit-linear-gradient(top, #222 0, #0a0a0a 100%);
    background: linear-gradient(to bottom, #222 0, #0a0a0a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff0a0a0a', GradientType=0);
}

.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.panel-inverse-no-border {
    border: none;
}

.panel-inverse-no-border > .panel-heading {
    color: #fff;
    background-color: #333;
    border: none;
    background: -webkit-linear-gradient(top, #333 0, #1a1a1a 100%);
    background: linear-gradient(to bottom, #333 0, #1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff1a1a1a', GradientType=0);
}

.panel-inverse-no-border > .panel-heading + .panel-collapse .panel-body {
    border: none;
}

.panel-inverse-no-border > .panel-footer + .panel-collapse .panel-body {
    border: none;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-brand {
    color: #eee;
}

.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

footer {
    padding: 40px 0;
    color: #333;
    background-color: #fff;
    width: 100%;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a 
    {
        color: #000;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a 
    {
        color: #eee;
    }
}

/* Uncomment this to enable menu hover feature */
/*@media (min-width: 768px) {
    .navbar-nav .caret {
        display: none;
    }

    .navbar-nav .open ul {
        display: none;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #333;
        background: none;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus,
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #eee;
        background: none;
    }

    .navbar-default .navbar-nav > .hovernav > a {
        color: #333;
    }

    .navbar-inverse .navbar-nav > .hovernav > a {
        color: #eee;
    }

    .navbar-default .navbar-nav > .hovernav:hover > a,
    .navbar-default .navbar-nav > .hovernav:hover > a:hover,
    .navbar-default .navbar-nav > .hovernav:hover > a:focus {
        color: #333;
        background: transparent;
    }

    .navbar-inverse .navbar-nav > .hovernav:hover > a,
    .navbar-inverse .navbar-nav > .hovernav:hover > a:hover,
    .navbar-inverse .navbar-nav > .hovernav:hover > a:focus {
        color: #fff;
        background: transparent;
    }

    .navbar-default .navbar-nav > li:hover {
        background: #e7e7e7;
    }

    .navbar-inverse .navbar-nav > li:hover {
        background: #080808;
    }

    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }
}*/