html, body
{
    background-color: #ffffff;
    margin: 0;
    padding-top: 25px;
}

.text-light
{
	color: #ffffff;
}

.text-medium
{
	color: #333333;
}

.text-dark
{
	color: #000000;
}

.background-very-light
{
    background-color: #f5f5f5;
}

.background-light
{
    background-color: #f0f0f0;
}

.background-medium
{
    background-color: #bfbfbf;
}

.background-dark
{
    background-color: #333333;
}

.background-very-light-gradient
{
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(top, #f5f5f5 0, #f0f0f0 100%);
    background: linear-gradient(to bottom, #f5f5f5 0, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff0f0f0', GradientType=0);
}

.background-light-gradient
{
    background-color: #f0f0f0;
    background: -webkit-linear-gradient(top, #f0f0f0 0, #d4d4d4 100%);
    background: linear-gradient(to bottom, #f0f0f0 0, #d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd0d0d0', endColorstr='#ffd4d4d4', GradientType=0);
}

.background-medium-gradient
{
    background-color: #bfbfbf;
    background: -webkit-linear-gradient(top, #bfbfbf 0, #a8a8a8 100%);
    background: linear-gradient(to bottom, #bfbfbf 0, #a8a8a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbfbfbf', endColorstr='#ffa8a8a8', GradientType=0);
}

.background-dark-gradient
{
    background-color: #333333;
    background: -webkit-linear-gradient(top, #333333 0, #1a1a1a 100%);
    background: linear-gradient(to bottom, #333333 0, #1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff1a1a1a', GradientType=0);
}

th, td 
{ 
    padding: 4px;
}

.theme-dropdown .dropdown-menu 
{
    display: block;
    position: static;
    margin-bottom: 20px;
}

.panel-inverse-no-border 
{
    border: none;
}

.panel-inverse-no-border > .panel-heading 
{
    color: #ffffff;
    background-color: #333333;
    border: none;
    background: -webkit-linear-gradient(top, #333333 0, #1a1a1a 100%);
    background: linear-gradient(to bottom, #333333 0, #1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff1a1a1a', GradientType=0);
}

.panel-inverse-no-border > .panel-heading + .panel-collapse .panel-body 
{
    border: none;
}

.panel-inverse-no-border > .panel-footer + .panel-collapse .panel-body 
{
    border: none;
}

.no-margin
{
    margin: 0;
}

.no-padding
{
    padding: 0;
}

@media (min-width: 768px) 
{
    .navbar-nav .caret 
    {
        display: none;
    }

    .navbar-nav .open ul 
    {
        display: none;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus 
    {
        color: #555;
        background: none;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus,
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus 
    {
        color: #969696;
        background: none;
    }

    .navbar-default .navbar-nav > .hovernav > a 
    {
        color: #555;
    }

    .navbar-inverse .navbar-nav > .hovernav > a 
    {
        color: #969696;
    }
    .navbar-default .navbar-nav > .hovernav:hover > a,
    .navbar-default .navbar-nav > .hovernav:hover > a:hover,
    .navbar-default .navbar-nav > .hovernav:hover > a:focus 
    {
        color: #333;
        background: transparent;
    }

    .navbar-inverse .navbar-nav > .hovernav:hover > a,
    .navbar-inverse .navbar-nav > .hovernav:hover > a:hover,
    .navbar-inverse .navbar-nav > .hovernav:hover > a:focus 
    {
        color: #fff;
        background: transparent;
    }

    .navbar-default .navbar-nav > li:hover 
    {
        background: #e7e7e7;
    }

    .navbar-inverse .navbar-nav > li:hover 
    {
        background: #080808;
    }

    .navbar-nav .hovernav:hover > .dropdown-menu 
    {
        display: block;
    }
}