@model BlogIt.Web.Models.Shared.BaseViewModel

@{
    ViewBag.Title = "D3 Demo";
}

@Scripts.Render("~/bundles/d3")

<div class="container-fluid">
    <h1 class="page-header">@ViewBag.Title</h1>

    <p>This page demonstrates some visualizations using the popular D3.js library.</p>
</div>
