@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog It - Frosted Glass Effect</title>

    @Styles.Render("~/Content/glass")
</head>

<body>
    <div class="header glass">
        <h1>CAT</h1>
    </div>
</body>
</html>
